*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 100%;
    color: inherit;
    border: none;
}


main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.password_generator{

}

.password_generator h1{
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.password_generator p{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.password_generator h3{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}

.password_generator article{
    margin-bottom: 50px;
}

.password_generator article aside{
    width: 560px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    margin-bottom: 50px;

}

.password_generator article aside .result_copy{
    display: flex;
    align-items: center;
    position: relative;
}

.password_generator article aside .result_copy img{
    width: 24px;
    position: absolute;
    left: 330px;
    cursor: pointer;
    z-index: 999999;
}

.password_generator article aside .result_copy .result{
    width: 380px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 20px;
}

.password_generator article aside .result_copy .result output{
    font-size: 16px;
    font-weight: 400;
}

.password_generator article aside  button{
    width: 170px;
    padding: 15px;
    background-color: #006EF2;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;

}

.password_generator article .length{
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

    margin-bottom: 30px;
}

.password_generator article .length h4{
    font-weight: 500;
    font-size: 20px;
}

.password_generator article .length h4 span{
    font-weight: 600;
}


.password_generator article .length .range_field{
    -webkit-appearance: none;
    width: 200px;
    height: 20px;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: inset 0 0 5px rgba(0,0,0,0.1);
    overflow: hidden;
    border: 0.6px solid rgba(0,0,0,0.3);
   
}

.password_generator article .length .range_field::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FD3600;
    box-shadow: -410px 0 0 400px  #006EF2;
    cursor: pointer;
}

.password_generator article .conditions{
    display: flex;
    justify-content: space-between;
}

.password_generator article .conditions h4{
    font-weight: 500;
    font-size: 20px;
}

.password_generator article .conditions div{
    width: 460px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.password_generator article .conditions div nav{}


.password_generator article .conditions div nav label{
    cursor: pointer;
}

.password_generator article .conditions div nav label .real_checkbox{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.password_generator article .conditions div nav label .real_checkbox:focus + .custom_checkbox{
    box-shadow: 0 0 0 1px #006EF2 0 0 10px rgba(0,0,0,0.3);
}

.password_generator article .conditions div nav label .custom_checkbox{
    display: inline-block;
    width: 20px;
    /* height: 20px; */
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    margin-right: 4px;
    vertical-align: sub;

    position: relative;
    
}

.password_generator article .conditions div nav label .custom_checkbox::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/check.png);
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: 1px;

    transition: 0.2s ease-in;
}

.password_generator article .conditions div nav label .real_checkbox:checked +  .custom_checkbox::before{
    transform: translate(-50%, -50%) scale(1)
}